#stripe-Container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

#stripe-errorContainer {
    background-color: #e74c3c;
    color: #fff;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-top: 20px;
    display: none;
}

#stripe-informationContainer {
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 3px;
    margin-bottom: 20px;
}

#stripe-informationContainer span {
    display: block;
    padding: 5px 5px 5px 0;
}
